
{% extends 'gvs/gvsbase.html' %}

{% block body %}
   
   
 
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/assets/img/about-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2 class="fs-4 fs-lg-3 text-white fw-bold mb-2 mb-lg-x1 lh-base mt-3 mt-lg-0">Welcome to GSV  GROUP<br> Packaging & Courier Services!</h2>
        <ol>
          <li><a href=""></a></li>
          <button type="submit" style="background-color: red;  border:none; color:#fff; width:300px; border-radius:20px; padding:10px;">Learn how our shipping works</button></div>
            
        </ol>

      </div>
    </div>

    <!-- ======= About Section ======= -->

      
   <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-lg-4">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8">
            <div class="content ps-lg-5">
              <h3>Who Are We?
                </h3>
              <p>
                At GVS Group we aim to provide quality services for the modern Consumer & Business. Our goal is to be the Number One provider in Shipping, Transport, Travel, Tourism, and Preferred choice by consumers in Guyana and throughout the Caribbean.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <section  class="call-to-action " class="breadcrumbs d-flex align-items-center" style="background-color: #0b28b9;">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <h3 style="font-size:50px;">How it Works</h3>
              <a class="cta-btn" href="#">Learn how our shipping works</a>
            </div>
          </div>
  
        </div>
      </section>

      
          

      
 

    {%endblock body%}
