
{% extends 'base.html' %}

{% block body %}
   
   
   <!-- ======= Breadcrumbs ======= -
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/assets/img/about-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Welcome to GSV GROUP<br> Packaging & Courier Services!</h2>
        <ol>
          <li><a href=""></a></li>
          <button type="submit" style="background-color: red;  border:none; color:#fff; width:300px; border-radius:20px; padding:10px;">Learn how our shipping works</button></div>
            
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->

      
      <!--<div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-lg-4">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8">
            <div class="content ps-lg-5">
              <h3>Who Are We?
                </h3>
              <p>
                At GVS Group we aim to provide quality services for the modern Consumer & Business. Our goal is to be the Number One provider in Shipping, Transport, Travel, Tourism, and Preferred choice by consumers in Guyana and throughout the Caribbean.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
-->
      <section  class="call-to-action " class="breadcrumbs d-flex align-items-center" style="background-color: #0b28b9;">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <h3 style="font-size:50px;">How it Works</h3>
              <a class="cta-btn" href="#">Learn how our shipping works</a>
            </div>
          </div>
  
        </div>
      </section>

      <div class="bod">

        <div class="timeline">
          <ul>
            <li data-aos="fade-right">
              <div class="content">
              <h2 style="font-size:25px; color:#0b28b9;"><b>First <i class="bi bi-check-circle-fill"></i> </b></h2>
              <p>
                In order to register, we require a valid email address and phone number as well as your address.
              </p>
              </div>
            </li>

            <li data-aos="fade-right">
              <div class="content">
              <h2 style="font-size:25px; color:#0b28b9;"><b> <i class="bi bi-check-circle-fill"></i> Second</b></h2>
              <p>
                
      Once registered we will email you your mailbox address in the US and you can immediately begin shipping your items.
              </p>
              </div>
            </li>

            <li data-aos="fade-left">
              
              <div class="content">
              <h2 style="font-size:25px; color:#0b28b9;"><b>Third <i class="bi bi-check-circle-fill"></i></b></h2>
              <p>
                As you order items, you can enter them in our package management system so that we can know what to expect, if not, we will perform updates as the packages are delivered.
              </p>
              </div>
            </li>


            <li data-aos="fade-right">
              
              <div class="content">
              <h2 style="font-size:25px; color:#0b28b9;"><b> <i class="bi bi-check-circle-fill"></i> Fourth</b></h2>
              <p>
                Once packages are delivered to us in the US, we will arrange shipment to Guyana and notify you by email.
              </p>
              </div>
            </li>
        

            <li data-aos="fade-left" >
              
              <div class="content">
              <h2 style="font-size:25px; color:#0b28b9;"><b>Fifth <i class="bi bi-check-circle-fill"></i> </b></h2>
              <p>
                Delivery can then be arranged by responding to the email or by phone.
              </p>
              </div>
            </li>
          </ul>
        </div>
        
      </div>
          

      
 

    {%endblock body%}
