
{% extends 'gvs/gvsbase.html' %}

{% block body %}
   
   
<section class="bg-1100">
  <div class="container">
    <div class="row py-8 py-md-10 py-lg-11">
      <div class="col-lg-6">
        <div class="row justify-content-center justify-content-lg-start">
          <div class="col-md-8 col-lg-12 col-xl-11">
            <h2 class="text-white fs-4 fs-lg-3 lh-sm mb-2 text-center text-lg-start fw-bold">Welcome to GVS GROUP Packaging & Courier Services!</h2>
            <p class="fs-8 text-white text-opacity-65 mb-4 mb-md-6 mb-lg-7 lh-lg mb-6 mb-lg-7 text-center text-lg-start">Learn how our shipping works</p>
          </div>
          <div class="col-lg-10">
            <div class="d-flex gap-2 gap-lg-x1 mb-4 mb-lg-5">
              <div>
                <div class="check-icon bg-success mb-1 rounded-circle d-flex align-items-center justify-content-center"> <span class="uil uil-check text-white"></span></div>
              </div>
              <div>
                <h5 class="fs-8 fw-bold lh-lg mb-1 text-white">Customer Service Support</h5>
                <p class="lh-xl text-white text-opacity-70 mb-0">Get support from our efficient customer support.<br>Available from 9am-5pm</p> </div>
            </div>
            <div class="d-flex gap-2 gap-lg-x1 mb-4 mb-lg-5">
              <div class="d-flex justify-content-center justify-content-lg-start"><a class="btn btn-primary btn-lg lh-xl mb-4 mb-md-5 mb-lg-7" href="/supportteam">Support Team</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="accordion mt-lg-4 ps-3 pe-x1 bg-white" id="accordion">
            <h1 class="accordion-header" id="heading1"><button class="accordion-button fs-5 lh-lg fw-bold pt-x1 pb-2 " type="button"  aria-expand="true"  data-accordion-button="">How It Works</button></h1>
            
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading1"><button class="accordion-button fs-8 lh-lg fw-bold pt-x1 pb-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expand="true" aria-controls="collapse1" data-accordion-button="data-accordion-button">First</button></h2>
            <div class="accordion-collapse collapse show" id="collapse1" data-bs-parent="#accordion">
              <div class="accordion-body lh-xl pt-0 pb-x1">In order to register, we require a valid email address and phone number as well as your address.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading2"><button class="accordion-button fs-8 lh-lg fw-bold pt-x1 pb-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expand="false" aria-controls="collapse2" data-accordion-button="data-accordion-button">Second</button></h2>
            <div class="accordion-collapse collapse" id="collapse2" data-bs-parent="#accordion">
              <div class="accordion-body lh-xl pt-0 pb-x1">Once registered we will email you your mailbox address in the US and you can immediately begin shipping your items.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading3"><button class="accordion-button fs-8 lh-lg fw-bold pt-x1 pb-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expand="false" aria-controls="collapse3" data-accordion-button="data-accordion-button">Third</button></h2>
            <div class="accordion-collapse collapse" id="collapse3" data-bs-parent="#accordion">
              <div class="accordion-body lh-xl pt-0 pb-x1">As you order items, you can enter them in our package management system so that we can know what to expect, if not, we will perform updates as the packages are delivered.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading4"><button class="accordion-button fs-8 lh-lg fw-bold pt-x1 pb-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expand="false" aria-controls="collapse4" data-accordion-button="data-accordion-button">Fourth</button></h2>
            <div class="accordion-collapse collapse" id="collapse4" data-bs-parent="#accordion">
              <div class="accordion-body lh-xl pt-0 pb-x1">Once packages are delivered to us in the US, we will arrange shipment to Guyana and notify you by email.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading5"><button class="accordion-button fs-8 lh-lg fw-bold pt-x1 pb-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expand="false" aria-controls="collapse5" data-accordion-button="data-accordion-button">Lastly</button></h2>
            <div class="accordion-collapse collapse" id="collapse5" data-bs-parent="#accordion">
              <div class="accordion-body lh-xl pt-0 pb-x1">Delivery can then be arranged by responding to the email or by phone.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="bg-gray mt-n1">
  <div class="mx-auto text-center">
    <hr class="horizontal-rule m-0 d-inline-block" />
  </div>
  <div class="container pb-8 pb-lg-10">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-7">
        <h2 class="fs-6 fs-lg-5 fw-bold text-black text-center pt-7 pb-4 pt-lg-9 pb-lg-6 lh-lg"> <span class="underline"> Over 1k+ Online Shippers </span>have shared their experience!</h2>
      </div>
      <div class="col-12 mb-4 mb-lg-6">
        <div class="row g-2">
          <div class="swiper-theme-container">
            <div class="swiper position-relative" data-swiper='{"spaceBetween":20,"mousewheel":{"forceToAxis":true,"sensitiviye":20,"releaseOnEdges":true},"autoplay":{"delay":3000,"disableOnInteraction":false},"breakpoints":{"0":{"slidesPerView":1,"direction":"horizontal","centeredSlide":true,"loop":true},"768":{"direction":"horizontal","centeredSlide":true,"slidesPerView":2,"loop":true},"992":{"slidesPerView":3,"direction":"vertical","loop":false}}}'>
              <div class="swiper-wrapper">
                <div class="col-12 swiper-slide">
                  <div class="d-flex justify-content-center gap-2">
                    <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-1">
                      <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/reviewer_1.webp" alt="" /></div>
                      <div class="text-center text-lg-start">
                        <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“OMG! I cannot believe that I have got a brand new landing page after getting Omega. It was super easy to edit and publish.”</p>
                        <p class="text-800 lh-xl mb-0">Isaac Olson</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 swiper-slide">
                  <div class="d-flex justify-content-center gap-2">
                    <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-2">
                      <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/reviewer_2.webp" alt="" /></div>
                      <div class="text-center text-lg-start">
                        <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users who want success.”</p>
                        <p class="text-800 lh-xl mb-0">Barry Young</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 swiper-slide">
                  <div class="d-flex justify-content-center gap-2">
                    <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-3">
                      <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/reviewer_3.webp" alt="" /></div>
                      <div class="text-center text-lg-start">
                        <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“Must have book for all, who want to be Product Designer or Interaction Designer.”</p>
                        <p class="text-800 lh-xl mb-0">Esther Allison</p>
                      </div>
                    </div>
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center"><a class="py-1 link-success" href="#!"><span>Read more reviews </span><span class="uil uil-arrow-right icon"></span></a></div>
    </div>
  </div>
</section> 


<hr>
   <!-- ======= Breadcrumbs ======= -
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/assets/img/about-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Welcome to GSV GROUP<br> Packaging & Courier Services!</h2>
        <ol>
          <li><a href=""></a></li>
          <button type="submit" style="background-color: red;  border:none; color:#fff; width:300px; border-radius:20px; padding:10px;">Learn how our shipping works</button></div>
            
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->

      
      <!--<div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-lg-4">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8">
            <div class="content ps-lg-5">
              <h3>Who Are We?
                </h3>
              <p>
                At GVS Group we aim to provide quality services for the modern Consumer & Business. Our goal is to be the Number One provider in Shipping, Transport, Travel, Tourism, and Preferred choice by consumers in Guyana and throughout the Caribbean.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
-->
    
      
 

    {%endblock body%}
