<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">


<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

 
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/log.png" rel="icon">
  <link href="static/assets/img/log.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
  <div class="elfsight-app-41da7ebc-934d-4265-a1af-c7300f5700ea" data-elfsight-app-lazy></div>
  <!-- Vendor CSS Files -->
  <link href="static/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/asset/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/asset/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/asset/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/asset/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/asset/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/asset/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/asset/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
       <h1 class="py-5"><b>Syst</b></h1>
      
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li>
        <a class="nav-link nav-icon bg-success text-light p-1 align-center" style="border-radius:70px; width:85px;" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-cart ml-3" style="margin-right:10px; margin-left:10px;" ></i> o
     
        </a>
      </li>
        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
           
          </a><!-- End Notification Icon -->

        </li><!-- End Notification Nav -->

        
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{current_user.name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{current_user.name}}</h6>
              <span>{{current_user.email}}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/adminprofile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

           
           

            <!--<li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>-->
           

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{url_for('logout')}}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">



      <li class="nav-item">
        <a class="nav-link " href="/admindashboard">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/product">
          <i class="bi bi-collection"></i>
          <span>Products</span>
        </a>
      </li>
      
      <!-- End Quotations Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/order">
          <i class="bi bi-cart3"></i>
          <span>Order</span>
        </a>
      </li>
      <!-- End Quotations Nav -->

    


      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-bar-chart"></i>
          <span>Report</span>
        </a>
      </li>
     
     

      

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    {% block body %}
   
 
 
    {% endblock%}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    </div>
  </footer><!-- End Footer -->
  <script>
    document.getElementById('packageForm').addEventListener('submit', function(event) {
      event.preventDefault();
      let weight = document.getElementById('weight').value;
      fetch('/calculate_charges', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ weight: weight })
      })
      .then(response => response.json())
      .then(data => {
        if (data.charges) {
          document.getElementById('result').innerText = `Charges for weight ${weight} lbs: $${data.charges.toFixed(2)}`;
        } else {
          document.getElementById('result').innerText = 'Contact customer service for rate';
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
  </script>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/asset/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/asset/vendor/chart.js/chart.umd.js"></script>
  <script src="static/asset/vendor/echarts/echarts.min.js"></script>
  <script src="static/asset/vendor/quill/quill.min.js"></script>
  <script src="static/asset/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="static/asset/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/asset/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/asset/js/main.js"></script>

 <!-- Bootstrap JavaScript and Popper.js (Order is important) -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

 <!-- Triggering the Toast -->
<!-- Your existing HTML code -->

<!-- Bootstrap JS (Make sure to include Popper.js and Bootstrap JS) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<!-- Your custom JavaScript code -->


<!-- Your existing HTML code -->


  <script async="" type="text/javascript" src="https://www.myhealth1st.com.au/mh1-widget/2021/popup.v3.js"></script>
  <!-- End of MyHealth1st Widget code -->

  <!-- 
    - custom js link

  <!-- 
    - ionicon link
  -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
 <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
  
  <!-- <script defer src="//firebase/8.9.1/firebase-storage.js"></script> -->
  

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Simulate delay for demonstration purposes
        setTimeout(function () {
            // Hide loading screen and display content
            document.getElementById("loadingScreen").style.display = "none";
            document.getElementById("mainContent").style.display = "block";
        }, 2000); // Adjust the delay time as needed
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Triggering the Toast -->
  <script>
    var toastElement = new bootstrap.Toast(document.querySelector('.toast'));
    toastElement.show();
  </script>
  
  
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
  
  <!-- <script defer src="//firebase/8.9.1/firebase-storage.js"></script> -->
  
<!-- Bootstrap JS (Make sure to include Popper.js and Bootstrap JS) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<!-- Your custom JavaScript code -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var liveToastBtn = document.getElementById('liveToastBtn');
        var liveToast = new bootstrap.Toast(document.getElementById('liveToast'));

        liveToastBtn.addEventListener('click', function () {
            liveToast.show();
        });
    });
</script>

  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyBPHDVrXV4nn_4agQgWFItDlS8z9cvq5zw",
      authDomain: "centralalumni.firebaseapp.com",
      projectId: "centralalumni",
      storageBucket: "centralalumni.appspot.com",
      messagingSenderId: "270504690849",
      appId: "1:270504690849:web:b03ee12ab92e157196dce0",
      measurementId: "G-9T21K58F10"
    };
    
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
  <script src="static/assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>

</html>