
{% extends 'gvs/gvsbase.html' %}

{% block body %}
          <section class="hero-section overflow-hidden position-relative z-0 mb-4 mb-lg-0" id="home">
            <div class="hero-background">
              <div class="container">
                
                  <div class="container py-8 py-lg-9">
                    <div class="row justify-content-center">
                      <div class="col-md-8 col-lg-8">
                        <div class="row justify-content-center">
                          <div class="col-12 col-lg-10">
                            <h2 class="fs-4 fs-lg-3 fw-bold text-white text-center mb-2 lh-sm">Enter Package Weight(lbs) Here:
                            </h2>
                          </div>
                          <div class="col-12 col-lg-10">
                            <form action="" id="packageForm" method="post" role="form" class=" " style="  border-radius: 10px; "> 
                              
                              <div class="mb-2 w-100">
                                <input class="form-control email-input" type="number" id="weight" name="weight" step="0.01" required class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Eg. 2" />
                              </div>
                             
                              <div class="d-grid">
                                <button class="btn btn-lg btn-primary lh-xl mb-x1" type="submit">Calculate Charges</button></div>
                            </div>
      
                            <p class="fs-20 mb-5 text-center text-white lh-lg fw-normal"> **Rates are strictly for shipping to Guyana. When invoices are generated, taxes and additional charges are added together as 'local charges'. Estimates of local taxes can be seen here.</p>

                            <div class="my-3">
                              <div class="sent-message bg-dark-subtle p-3 text-center text-white fs-5 " id="result">Shipping Charges: $0</div>
                            </div>
                
                            <!--<div id="result"></div>-->
                            </form>
                          </div>
                         
                         
                      </div>
                    </div>
                  </div>
                
                <!--<div class="row gy-4 gy-md-8 pt-9 pt-lg-0">
                  <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="fs-2 fs-lg-1 text-white fw-bold mb-2 mb-lg-x1 lh-base mt-3 mt-lg-0">#1 Online Ordering Platform - With Over 1000+ Users<span class="text-nowrap"></span></h1>
                    <p class="fs-8 text-white mb-3 mb-lg-4 lh-lg">With lots of unique blocks, Fast and Reliable courier service between the US and Guyana.</p>
                    <div class="d-flex justify-content-center justify-content-lg-start"><a class="btn btn-primary btn-lg lh-xl mb-4 mb-md-5 mb-lg-7" href="/signup">Register!</a></div>
                    <!-- <p class="mb-x1 fs-10 button-text text-uppercase fw-bold lh-base text-300">Download our app</p> -
                    <!-- <div class="d-flex flex-wrap justify-content-center justify-content-lg-start gap-2 position-relative z-2"><a class="border-0 p-0 bg-transparent cursor-pointer rounded-1" href="#!"> <img class="img-fluid" src="static/gvs/assets/img/logos/App_Store.webp" alt="static/gvs/assets/img/logos/App_Store.webp" /></a><a class="border-0 p-0 bg-transparent cursor-pointer rounded-1" href="#!"> <img class="img-fluid" src="static/gvs/assets/img/logos/Play_Store.webp" alt="static/gvs/assets/img/logos/Play_Store.webp" /></a></div> --
                  </div>
                  <div class="col-lg-6 position-lg-relative">
                    <div class="position-lg-absolute z-1 text-center">
                      <img class="img-fluid chat-image" src="https://nocnocstore.com/wp-content/uploads/2023/09/nocnoc-Marketplaces-3.png" alt="" />
                      <div class="position-absolute dots d-none d-md-block"> <img class="img-fluid w-50 w-lg-75" src="static/gvs/assets/img/illustrations/Dots.webp" alt="" /></div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
            <!-- <div class="position-absolute bottom-0 start-0 end-0 z-1"><img class="wave mb-md-n2" src="static/gvs/assets/img/illustrations/Wave.svg" alt="" />
              <div class="bg-white py-2 py-md-5"></div>
            </div> -->
          </section>




          
          <!-- <section class="container border-bottom mb-8 mb-lg-10">
            <div class="row pb-6 pb-lg-8 g-3 g-lg-8 px-3">
              <div class="col-12 col-md-4">
                <h2 class="fs-3 fw-bold lh-sm mb-2 text-center" data-countup='{"endValue":6,"prefix":"0"}'>0</h2>
                <h6 class="fs-8 fw-normal lh-lg mb-0 opacity-70 text-center">Offices are available on different countries</h6>
              </div>
              <div class="col-12 col-md-4">
                <h2 class="fs-3 fw-bold lh-sm mb-2 text-center" data-countup='{"endValue":238}'>0</h2>
                <h6 class="opacity-70 fs-8 fw-normal lh-lg mb-0 text-center">Seats are available right now with support</h6>
              </div>
              <div class="col-12 col-md-4">
                <h2 class="fs-3 fw-bold lh-sm mb-2 text-center" data-countup='{"endValue":1395,"autoIncreasing":true}'>0</h2>
                <h5 class="opacity-70 fs-8 fw-normal lh-lg mb-0 text-center">People are using our co-work spaces right now</h5>
              </div>
            </div>
          </section> -->
          
          <!--<section class="container mb-5  mt-5 " id="about">
            <div class="row align-items-center mx-auto">
              <div class="col-12 col-lg-12  mx-auto">
              <table class="table" >
                <thead>
                  <tr>
                    <th scope="col" style="background-color:blue; color:#fff;">Weight (lbs)</th>
                    <th scope="col" style="background-color:blue; color:#fff;">Charge ($)</th>
                    <th scope="col" style="background-color:blue; color:#fff;">Weight (lbs)</th>
                    <th scope="col" style="background-color:blue; color:#fff;">Charge ($)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </section>-->

         
          <!-- <section class="container mb-8 mb-lg-13">
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 col-xl-5 order-lg-1"><img class="img-fluid" src="static/gvs/assets/img/Hero/Collaborator.webp" alt="" /></div>
              <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-center justify-content-lg-start">
                  <div class="col-sm-10 col-md-8 col-lg-11">
                    <h2 class="fs-4 fs-lg-3 fw-bold mb-2 text-center text-lg-start"> Organize remote team fast & easily.</h2>
                    <p class="fs-8 mb-4 mb-lg-5 lh-lg text-center text-lg-start fw-normal">Organizing and managing your remote teams has never been this easy!</p>
                  </div>
                  <div class="col-12">
                    <div class="mb-x1 mb-lg-3">
                      <h5 class="fs-8 fw-bold lh-lg mb-1">Create Unlimited Teams </h5>
                      <p class="b-0 lh-xl">Create unlimited teams and boost productivity with efficient collaboration.</p>
                    </div>
                    <div>
                      <h5 class="fs-8 fw-bold lh-lg mb-1"> Hasslefree Chat with Everyone</h5>
                      <p class="lh-xl mb-0">With unique and simple UIs, keep yourself connected across all the teams.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section> -->
          
          



          <!-- <section class="bg-1100 mt-n1">
            <div class="mx-auto text-center">
              <hr class="horizontal-rule m-0 d-inline-block" />
            </div>
            <div class="container pb-8 pb-lg-10">
              <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7">
                  <h2 class="fs-6 fs-lg-5 fw-bold text-white text-center pt-7 pb-4 pt-lg-9 pb-lg-6 lh-lg"> <span class="underline"> 1,749 remote teams </span>have shared their experience with our app!</h2>
                </div>
                <div class="col-12 mb-4 mb-lg-6">
                  <div class="row g-2">
                    <div class="swiper-theme-container">
                      <div class="swiper position-relative" data-swiper='{"spaceBetween":20,"mousewheel":{"forceToAxis":true,"sensitiviye":20,"releaseOnEdges":true},"autoplay":{"delay":3000,"disableOnInteraction":false},"breakpoints":{"0":{"slidesPerView":1,"direction":"horizontal","centeredSlide":true,"loop":true},"768":{"direction":"horizontal","centeredSlide":true,"slidesPerView":2,"loop":true},"992":{"slidesPerView":3,"direction":"vertical","loop":false}}}'>
                        <div class="swiper-wrapper">
                          <div class="col-12 swiper-slide">
                            <div class="d-flex justify-content-center gap-2">
                              <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-1">
                                <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/reviewer_1.webp" alt="" /></div>
                                <div class="text-center text-lg-start">
                                  <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“OMG! I cannot believe that I have got a brand new landing page after getting Omega. It was super easy to edit and publish.”</p>
                                  <p class="text-800 lh-xl mb-0">Isaac Olson</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 swiper-slide">
                            <div class="d-flex justify-content-center gap-2">
                              <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-2">
                                <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/reviewer_2.webp" alt="" /></div>
                                <div class="text-center text-lg-start">
                                  <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users who want success.”</p>
                                  <p class="text-800 lh-xl mb-0">Barry Young</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 swiper-slide">
                            <div class="d-flex justify-content-center gap-2">
                              <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-3">
                                <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/reviewer_3.webp" alt="" /></div>
                                <div class="text-center text-lg-start">
                                  <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“Must have book for all, who want to be Product Designer or Interaction Designer.”</p>
                                  <p class="text-800 lh-xl mb-0">Esther Allison</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 swiper-slide">
                            <div class="d-flex justify-content-center gap-2">
                              <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-4">
                                <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/kakashi.webp" alt="" /></div>
                                <div class="text-center text-lg-start">
                                  <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“Every day, I eat, sleep, and worry about stupid things. My job is to ensure that these kids have as many days as possible where they can be idiots like this.”</p>
                                  <p class="text-800 lh-xl mb-0">Kakashi Hatake</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 swiper-slide">
                            <div class="d-flex justify-content-center gap-2">
                              <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-5">
                                <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/obito.webp" alt="" /></div>
                                <div class="text-center text-lg-start">
                                  <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“Life isn’t permanent or predictable. You never know when you will run out of time. The best thing you can do is to be honest with those around you and let them know how you really feel. You never know if you have a tomorrow to come.”</p>
                                  <p class="text-800 lh-xl mb-0">Obito Uchiha</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center"><a class="py-1 link-success" href="#!"><span>Read more reviews </span><span class="uil uil-arrow-right icon"></span></a></div>
              </div>
            </div>
          </section> -->
          <!-- <section class="bg-300" id="pricing">
            <div class="container py-8 py-lg-10">
              <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7">
                  <h3 class="fs-4 fs-lg-3 fw-bold text-center mb-2 mb-lg-x1 lh-sm">Pricing made easy</h3>
                  <p class="fs-8 mb-7 mb-lg-8 text-center lh-lg fw-normal">Show your pricing to your customers once they’re here with easily modifiable pricing cards. </p>
                </div>
                <div class="col-12">
                  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3">
                    <div class="p-x1 text-center price-card-1 bg-transparent border mb-3 mb-md-0 rounded-2 pricing-card">
                      <p class="fs-10 text-uppercase mb-3 fw-bold text-primary ls-2"> Starter</p>
                      <h2 class="mb-3"><span class="fs-6 fs-md-7 fw-bold">$</span><span class="fs-2 fs-md-1 fw-bold">19</span><span class="fs-9 lh-xl font-sans-serif">/ mo</span></h2>
                      <ul class="list-unstyled fs-8 lh-xl fw-light text-1100 ls-1">
                        <li class="py-x1 px-1 border-top"> Upto 100 Team Members </li>
                        <li class="py-x1 px-1 border-top"> 100 GB Cloud Storage </li>
                        <li class="py-x1 px-1 border-top"> Unlimited Meetings </li>
                        <li class="py-x1 px-1 border-top"> Premium Support </li>
                        <li class="mt-1 d-grid"> <button class="btn btn-secondary btn-lg lh-xl">Get Started Now</button></li>
                      </ul>
                    </div>
                    <div class="p-x1 text-center bg-white border shadow-sm rounded-2 pricing-card">
                      <p class="fs-10 text-uppercase mb-3 fw-bold text-primary ls-2"> Unlimited</p>
                      <h2 class="mb-3"><span class="fs-6 fs-md-7 fw-bold">$</span><span class="fs-2 fs-md-1 fw-bold">99</span><span class="fs-9 lh-xl font-sans-serif">/ mo</span></h2>
                      <ul class="list-unstyled fs-8 lh-xl fw-light text-1100 ls-1">
                        <li class="py-x1 px-1 border-top"> Unlimited Team Members </li>
                        <li class="py-x1 px-1 border-top"> Unlimited Cloud Storage </li>
                        <li class="py-x1 px-1 border-top"> Unlimited Meetings </li>
                        <li class="py-x1 px-1 border-top"> Premium Support </li>
                        <li class="mt-1 d-grid"> <button class="btn btn-primary btn-lg lh-xl">Get Started Now</button></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section> -->
         
          
          
        </div>
        {%endblock body%}
