
{% extends 'gvs/gvsbase.html' %}

{% block body %}


<section class="bg-1100 mb-lg-10">
  <div class="container">
    <div class="row py-8 py-md-10  py-lg-11">
      <div class="col-lg-6">
        <img class="img-fluid chat-image" src="static/assets/img/oo.png" style="width:800px;" alt="" />

      </div>
        <div class="col-lg-6">
        <div class="row justify-content-center justify-content-lg-start">
          <div class="col-md-8 col-lg-12 col-xl-11">
            <h2 class="text-white fs-4 fs-lg-3 lh-sm mb-2 text-center text-lg-start fw-bold">Warehouse operates on Mondays through Fridays.</h2>
            <p class="fs-8 text-white text-opacity-65 mb-4 mb-md-6 mb-lg-7 lh-lg mb-6 mb-lg-7 text-center text-lg-start"> Deliver the Perfect Solution for Your Package Journey!</p>
          </div>
          <div class="col-lg-10">
            <div class="d-flex gap-2 gap-lg-x1 mb-4 mb-lg-5">
              <div>
                <div class="check-icon bg-success mb-1 rounded-circle d-flex align-items-center justify-content-center"> <span class="uil uil-check text-white"></span></div>
              </div>
              <div>
                <h5 class="fs-8 fw-bold lh-lg mb-1 text-white">GVS Group Business hours</h5>
                <p class="lh-xl text-white text-opacity-70 mb-0">Monday to Friday - 9:00 AM to 5:00 PM<br>Saturdays - 10 AM to 2:00 PM<br>Sundays & Holidays - Closed</p>
              </div>
            </div>
            <div class="d-flex gap-2 gap-lg-x1 mb-4 mb-lg-5">
              <div>
                <div class="check-icon bg-success mb-1 rounded-circle d-flex align-items-center justify-content-center"> <span class="uil uil-check text-white"></span></div>
              </div>
              <div>
                <h5 class="fs-8 fw-bold lh-lg mb-1 text-white">24/7 Hour Support</h5>
                <p class="lh-xl text-white text-opacity-70 mb-0">Get support from our efficient customer support.<br>Monday to Friday - 9:00 AM to 5:00 PM<br>Saturdays - 10 AM to 2:00 PM</p>
              </div>
            </div>
            <div class="d-flex gap-2 gap-lg-x1 mb-4 mb-lg-5">
              <div>
                <div class="check-icon bg-success mb-1 rounded-circle d-flex align-items-center justify-content-center"> <span class="uil uil-check text-white"></span></div>
              </div>
              <div>
                <h5 class="fs-8 fw-bold lh-lg mb-1 text-white">Our Services</h5>
                <p class="lh-xl text-white text-opacity-70 mb-0">Shipping & Logistics<br>
                  Travel & Transport<br>
                  Tourism </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4">
        <div class="accordion mt-lg-4 ps-3 pe-x1 bg-white" id="accordion">
          <form action="" id="packageForm" method="post" role="form" class=" mt-4" style=" border-radius: 10px; "> 
            <h3 style="text-align: center; color:#0b28b9;"><b>Your Estimated Charge</b></h3>
             <hr>
             <div class="input-group mb-3">
               
               <input type="number" id="weight" name="weight" step="0.01" required class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Eg. 2">
               <span class="input-group-text" style="background-color:#0b28b9; color:#fff; padding:15px;">Pound</span>
             </div>
 
            
          
             <div class="text-center mt-3">
               <button type="submit" style="background-color: #0b28b9;  border:none; color:#fff; width:200px; border-radius:20px; padding:10px;">Calculate Charges</button></div>
               <div class="my-3">
                <hr>
                 <div class="sent-message mb-2  p-1 text-center fs-6 mb-5 " id="result">Shipping Charges: $12.89</div>
                 <hr>
             </div>
 
             <!-- <div id="result"></div> --
           </form>
        </div>
      </div> -->
    </div>
  </div>
</section>

<!--<div class="containe" style="margin:30px;">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="position-relative z-1 text-center mb-8 mb-lg-9 video-player-paused" data-video-player-container="data-video-player-container"><video class="w-100 h-100 rounded-4" src="static/gvs/assets/video/Tech_video.mp4" poster="https://media.istockphoto.com/id/1371131840/photo/mature-man-using-digital-tablet-at-home.jpg?s=612x612&w=0&k=20&c=ubadj_8mev4kTYQY7PJgbSznJP8VwKrwtnaiLfYu0u4=" type="video/mp4" data-video-player="data-video-player"></video>
        <div class="overlay position-absolute top-0 bottom-0 start-0 end-0 rounded-4 bg-1100 object-cover" data-overlay="data-overlay"> </div><button class="btn play-button position-absolute justify-content-center align-items-center bg-white rounded-circle cursor-pointer" data-play-button="data-play-button"> <img class="play-icon w-25" src="static/gvs/assets/img/illustrations/play-solid.svg" alt="" data-play-icon="data-play-icon" /><img class="pause-icon w-25" src="static/gvs/assets/img/illustrations/pause-solid.svg" alt="" data-pause-icon="data-pause-icon" /></button>
        <div class="position-absolute dots d-none d-sm-block"><img class="img-fluid w-100" src="static/gvs/assets/img/illustrations/Dots.webp" alt="" /></div>
      </div>
    </div>
  </div>
</div>-->
          
        <section class="container border-bottom mb-8 mb-lg-10">
            <div class="row pb-6 pb-lg-8 g-3 g-lg-8 px-3">
              <div class="col-12 col-md-4">
                <h2 class="fs-3 fw-bold lh-sm mb-2 text-center" data-countup='{"endValue":8,"prefix":"0"}'>0</h2>
                <h6 class="fs-8 fw-normal lh-lg mb-0 opacity-70 text-center">Over 8+ Years Of Experience</h6>
              </div>
              <div class="col-12 col-md-4">
                <h2 class="fs-3 fw-bold lh-sm mb-2 text-center" data-countup='{"endValue":100}'>0</h2>
                <h6 class="opacity-70 fs-8 fw-normal lh-lg mb-0 text-center">100% Customers Satisfied</h6>
              </div>
              <div class="col-12 col-md-4">
                <h2 class="fs-3 fw-bold lh-sm mb-2 text-center" data-countup='{"endValue":1395,"autoIncreasing":true}'>0</h2>
                <h5 class="opacity-70 fs-8 fw-normal lh-lg mb-0 text-center">Over 1k+ Online Shippers</h5>
              </div>
            </div>
          </section> 

         

          
     <section class="container">
            <div class="row align-items-center">
              <div class="col-12 col-lg-5 col-xl-5 order-lg-1">
                <img class="img-fluid" src="static/newassets/images/stats-banner.png" alt="" /></div>
              <div class="col-12 col-lg-7 col-xl-7">
                <div class="row justify-content-center justify-content-lg-start">
                  <div class="col-sm-10 col-md-8 col-lg-11">
                    <h2 class="fs-4 fs-lg-3 fw-bold mb-2 text-center text-lg-start"> Deliver the Perfect Solution for Your Package Journey!</h2>
                    <p class="fs-8 mb-4 mb-lg-5 lh-lg text-center text-lg-start fw-normal">Track your delivered items with ease as their details are seamlessly updated in our app.</p>
                  </div>
                  <div class="col-12">
                    <div class="mb-x1 mb-lg-3">
                      <h5 class="fs-8 fw-bold lh-lg mb-1">Mailbox Service</h5>
                      <p class="b-0 lh-xl">If you are in need of our mailbox service, you simply need to register here. Once you are registered, all the necessary details will be emailed to you and you can then start your shopping.</p>
                    </div>
                    <div>
                      <h5 class="fs-8 fw-bold lh-lg mb-1">Online Ordering</h5>
                      <p class="lh-xl mb-0">We can order from most of the popular websites. However, there is an additional cost of five (5) percent of the order total or a minimum of GYD1,500 for the use of our credit cards in the process (credit cards incur charges as they are used).
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section> 
          
          

        

          <section class="experience position-relative overflow-hidden" id="service">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12">
                  <div class="position-relative z-1 text-center mb-8 mb-lg-9 video-player-paused" data-video-player-container="data-video-player-container">
                    <div class="overlay position-absolute top-0 bottom-0 start-0 end-0 rounded-4 bg-1100 object-cover" data-overlay="data-overlay"> </div>
                   
                    <div class="position-absolute dots d-none d-sm-block">
                    </div>
                  </div>
                </div>
                <div class="col-md-8 col-lg-7 mt-5">
                  <h2 class="fs-4 fs-lg-3 fw-bold text-center text-white mb-5 mb-lg-9 lh-sm">We made this app to solve your problems.</h2>
                </div>
                <div class="col-12">
                  <div class="row gy-4 g-md-3 pb-8 pb-lg-11 px-1">
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-start gap-2"><img src="static/gvs/assets/img/icons/roadmap.svg" alt="" />
                      <div>
                        <h5 class="fs-8 text-white lh-lg fw-bold">Unlimited Projects</h5>
                        <p class="text-white text-opacity-50 lh-xl mb-0">Manage multiple projects at once and for seamless business operation.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-start gap-2"><img src="static/gvs/assets/img/icons/users-wm.svg" alt="" />
                      <div>
                        <h5 class="fs-8 text-white lh-lg fw-bold">Team Management</h5>
                        <p class="text-white text-opacity-50 lh-xl mb-0">Manage your cross-functional teams better than ever with our easily manageable app.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-start gap-2"><img src="static/gvs/assets/img/icons/share-91.svg" alt="" />
                      <div>
                        <h5 class="fs-8 text-white lh-lg fw-bold">File Sharing</h5>
                        <p class="text-white text-opacity-50 lh-xl mb-0">Easily share files where necessary and keep them safe with enhanced security and protection.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-start gap-2"><img src="static/gvs/assets/img/icons/video_meeting.svg" alt="" />
                      <div>
                        <h5 class="fs-8 text-white lh-lg fw-bold">Video Meeting</h5>
                        <p class="text-white text-opacity-50 lh-xl mb-0">Conduct video meetings and keep records for further use with its cloud storage.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-start gap-2"><img src="static/gvs/assets/img/icons/opening-times.svg" alt="" />
                      <div>
                        <h5 class="fs-8 text-white lh-lg fw-bold">Time Tracking</h5>
                        <p class="text-white text-opacity-50 lh-xl mb-0">Track time to ensure meeting all the deadlines and never lag behind managing multiple projects.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-start gap-2"><img src="static/gvs/assets/img/icons/card-favorite.svg" alt="" />
                      <div>
                        <h5 class="fs-8 text-white lh-lg fw-bold">Payment System</h5>
                        <p class="text-white text-opacity-50 lh-xl mb-0">With its easy payment system create invoices and get paid all at the same place.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="position-absolute top-0 start-0 end-0">
              <div class="bg-white py-3 py-md-9 py-xl-10"> </div><img class="wave" src="static/gvs/assets/img/illustrations/Wave_2.svg" alt="" />
            </div>
          </section> 

          <!-- <section class="experience position-relative overflow-hidden" id="service">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12">
                  <div class="position-relative z-1 text-center mb-8 mb-lg-9 video-player-paused" data-video-player-container="data-video-player-container"><video class="w-100 h-100 rounded-4" src="static/gvs/assets/video/Tech_video.mp4" poster="static/gvs/assets/img/Hero/experiences.webp" type="video/mp4" data-video-player="data-video-player"></video>
                    <div class="overlay position-absolute top-0 bottom-0 start-0 end-0 rounded-4 bg-1100 object-cover" data-overlay="data-overlay"> </div><button class="btn play-button position-absolute justify-content-center align-items-center bg-white rounded-circle cursor-pointer" data-play-button="data-play-button"> <img class="play-icon w-25" src="static/gvs/assets/img/illustrations/play-solid.svg" alt="" data-play-icon="data-play-icon" /><img class="pause-icon w-25" src="static/gvs/assets/img/illustrations/pause-solid.svg" alt="" data-pause-icon="data-pause-icon" /></button>
                    <div class="position-absolute dots d-none d-sm-block"><img class="img-fluid w-100" src="static/gvs/assets/img/illustrations/Dots.webp" alt="" /></div>
                  </div>
                </div>
                <div class="col-md-8 col-lg-7">
                  <h2 class="fs-4 fs-lg-3 fw-bold text-center text-white mb-5 mb-lg-9 lh-sm">We made this app to solve your problems.</h2>
                </div>
                <div class="col-12">
                  <div class="row gy-4 g-md-3 pb-8 pb-lg-11 px-1">
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-start gap-2"><img src="static/gvs/assets/img/icons/roadmap.svg" alt="" />
                      <div>
                        <h5 class="fs-8 text-white lh-lg fw-bold">Unlimited Projects</h5>
                        <p class="text-white text-opacity-50 lh-xl mb-0">Manage multiple projects at once and for seamless business operation.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-start gap-2"><img src="static/gvs/assets/img/icons/users-wm.svg" alt="" />
                      <div>
                        <h5 class="fs-8 text-white lh-lg fw-bold">Team Management</h5>
                        <p class="text-white text-opacity-50 lh-xl mb-0">Manage your cross-functional teams better than ever with our easily manageable app.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-start gap-2"><img src="static/gvs/assets/img/icons/share-91.svg" alt="" />
                      <div>
                        <h5 class="fs-8 text-white lh-lg fw-bold">File Sharing</h5>
                        <p class="text-white text-opacity-50 lh-xl mb-0">Easily share files where necessary and keep them safe with enhanced security and protection.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-start gap-2"><img src="static/gvs/assets/img/icons/video_meeting.svg" alt="" />
                      <div>
                        <h5 class="fs-8 text-white lh-lg fw-bold">Video Meeting</h5>
                        <p class="text-white text-opacity-50 lh-xl mb-0">Conduct video meetings and keep records for further use with its cloud storage.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-start gap-2"><img src="static/gvs/assets/img/icons/opening-times.svg" alt="" />
                      <div>
                        <h5 class="fs-8 text-white lh-lg fw-bold">Time Tracking</h5>
                        <p class="text-white text-opacity-50 lh-xl mb-0">Track time to ensure meeting all the deadlines and never lag behind managing multiple projects.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-start gap-2"><img src="static/gvs/assets/img/icons/card-favorite.svg" alt="" />
                      <div>
                        <h5 class="fs-8 text-white lh-lg fw-bold">Payment System</h5>
                        <p class="text-white text-opacity-50 lh-xl mb-0">With its easy payment system create invoices and get paid all at the same place.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="position-absolute top-0 start-0 end-0">
              <div class="bg-white py-3 py-md-9 py-xl-10"> </div><img class="wave" src="static/gvs/assets/img/illustrations/Wave_2.svg" alt="" />
            </div>
          </section> -->
          <!-- <section class="bg-1100 mt-n1">
            <div class="mx-auto text-center">
              <hr class="horizontal-rule m-0 d-inline-block" />
            </div>
            <div class="container pb-8 pb-lg-10">
              <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7">
                  <h2 class="fs-6 fs-lg-5 fw-bold text-white text-center pt-7 pb-4 pt-lg-9 pb-lg-6 lh-lg"> <span class="underline"> 1,749 remote teams </span>have shared their experience with our app!</h2>
                </div>
                <div class="col-12 mb-4 mb-lg-6">
                  <div class="row g-2">
                    <div class="swiper-theme-container">
                      <div class="swiper position-relative" data-swiper='{"spaceBetween":20,"mousewheel":{"forceToAxis":true,"sensitiviye":20,"releaseOnEdges":true},"autoplay":{"delay":3000,"disableOnInteraction":false},"breakpoints":{"0":{"slidesPerView":1,"direction":"horizontal","centeredSlide":true,"loop":true},"768":{"direction":"horizontal","centeredSlide":true,"slidesPerView":2,"loop":true},"992":{"slidesPerView":3,"direction":"vertical","loop":false}}}'>
                        <div class="swiper-wrapper">
                          <div class="col-12 swiper-slide">
                            <div class="d-flex justify-content-center gap-2">
                              <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-1">
                                <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/reviewer_1.webp" alt="" /></div>
                                <div class="text-center text-lg-start">
                                  <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“OMG! I cannot believe that I have got a brand new landing page after getting Omega. It was super easy to edit and publish.”</p>
                                  <p class="text-800 lh-xl mb-0">Isaac Olson</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 swiper-slide">
                            <div class="d-flex justify-content-center gap-2">
                              <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-2">
                                <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/reviewer_2.webp" alt="" /></div>
                                <div class="text-center text-lg-start">
                                  <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users who want success.”</p>
                                  <p class="text-800 lh-xl mb-0">Barry Young</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 swiper-slide">
                            <div class="d-flex justify-content-center gap-2">
                              <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-3">
                                <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/reviewer_3.webp" alt="" /></div>
                                <div class="text-center text-lg-start">
                                  <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“Must have book for all, who want to be Product Designer or Interaction Designer.”</p>
                                  <p class="text-800 lh-xl mb-0">Esther Allison</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 swiper-slide">
                            <div class="d-flex justify-content-center gap-2">
                              <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-4">
                                <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/kakashi.webp" alt="" /></div>
                                <div class="text-center text-lg-start">
                                  <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“Every day, I eat, sleep, and worry about stupid things. My job is to ensure that these kids have as many days as possible where they can be idiots like this.”</p>
                                  <p class="text-800 lh-xl mb-0">Kakashi Hatake</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 swiper-slide">
                            <div class="d-flex justify-content-center gap-2">
                              <div class="d-flex flex-column flex-lg-row gap-2 px-4 py-x1 review-card-5">
                                <div class="text-center text-lg-start"><img class="card-image rounded-circle object-fit-cover" src="static/gvs/assets/img/feedback/obito.webp" alt="" /></div>
                                <div class="text-center text-lg-start">
                                  <p class="fs-8 mb-2 lh-lg line-clamp-3 text-1100">“Life isn’t permanent or predictable. You never know when you will run out of time. The best thing you can do is to be honest with those around you and let them know how you really feel. You never know if you have a tomorrow to come.”</p>
                                  <p class="text-800 lh-xl mb-0">Obito Uchiha</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center"><a class="py-1 link-success" href="#!"><span>Read more reviews </span><span class="uil uil-arrow-right icon"></span></a></div>
              </div>
            </div>
          </section> -->
          <!-- <section class="bg-300" id="pricing">
            <div class="container py-8 py-lg-10">
              <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7">
                  <h3 class="fs-4 fs-lg-3 fw-bold text-center mb-2 mb-lg-x1 lh-sm">Pricing made easy</h3>
                  <p class="fs-8 mb-7 mb-lg-8 text-center lh-lg fw-normal">Show your pricing to your customers once they’re here with easily modifiable pricing cards. </p>
                </div>
                <div class="col-12">
                  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3">
                    <div class="p-x1 text-center price-card-1 bg-transparent border mb-3 mb-md-0 rounded-2 pricing-card">
                      <p class="fs-10 text-uppercase mb-3 fw-bold text-primary ls-2"> Starter</p>
                      <h2 class="mb-3"><span class="fs-6 fs-md-7 fw-bold">$</span><span class="fs-2 fs-md-1 fw-bold">19</span><span class="fs-9 lh-xl font-sans-serif">/ mo</span></h2>
                      <ul class="list-unstyled fs-8 lh-xl fw-light text-1100 ls-1">
                        <li class="py-x1 px-1 border-top"> Upto 100 Team Members </li>
                        <li class="py-x1 px-1 border-top"> 100 GB Cloud Storage </li>
                        <li class="py-x1 px-1 border-top"> Unlimited Meetings </li>
                        <li class="py-x1 px-1 border-top"> Premium Support </li>
                        <li class="mt-1 d-grid"> <button class="btn btn-secondary btn-lg lh-xl">Get Started Now</button></li>
                      </ul>
                    </div>
                    <div class="p-x1 text-center bg-white border shadow-sm rounded-2 pricing-card">
                      <p class="fs-10 text-uppercase mb-3 fw-bold text-primary ls-2"> Unlimited</p>
                      <h2 class="mb-3"><span class="fs-6 fs-md-7 fw-bold">$</span><span class="fs-2 fs-md-1 fw-bold">99</span><span class="fs-9 lh-xl font-sans-serif">/ mo</span></h2>
                      <ul class="list-unstyled fs-8 lh-xl fw-light text-1100 ls-1">
                        <li class="py-x1 px-1 border-top"> Unlimited Team Members </li>
                        <li class="py-x1 px-1 border-top"> Unlimited Cloud Storage </li>
                        <li class="py-x1 px-1 border-top"> Unlimited Meetings </li>
                        <li class="py-x1 px-1 border-top"> Premium Support </li>
                        <li class="mt-1 d-grid"> <button class="btn btn-primary btn-lg lh-xl">Get Started Now</button></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section> -->
          
          
          
        </div>


        <button class="btn scroll-to-top text-white rounded-circle d-flex justify-content-center align-items-center bg-primary" data-scroll-top="data-scroll-top"><span class="uil uil-angle-up"></span></button>
       
       
        {%endblock body%}
