{% extends 'gvs/dashlayout.html' %}

{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
        
      {% endfor %}
    {% endif %}
    {% endwith %}
    
    <section class="section dashboard">
      <div class="row">

            <h6 class="fs-3"><b>Order</b></h6>

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                

                <div class="card-body">

                  <table class="table table-borderless datatable bg-gray">
                    <thead>
                      <tr class="bg-gray">
                        <th scope="col">Customer</th>
                        <th scope="col">Products</th>
                        <th scope="col">Price</th>
                        <th scope="col">Delivery</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for users in users%}
                      <tr>
                       
                       
                        <td>{{users.product_name}}</td>
                        <td>{{users.variant}}</td>
                        <td>{{users.size}}</td>
                        <td>{{users.price}}</td>

                        <td>s</td>
                     
                       

                     

                                

                               
                 
                                              
                      
                  
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>

                </div>

              </div>
            </div>

            

       
          </div>
        </div>
    

        
      </div>
    </section>
    
    {%endblock body%}
