
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/log.png" rel="icon">
  <link href="static/assets/img/log.pngg" rel="apple-touch-icon">
  <!-- <img src="assets/img/log.png" alt=""> -->
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <title>Login Page</title>
  <link href="static/asset/css/stylee.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/asset/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/asset/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/asset/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/asset/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/asset/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/asset/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->


  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 7 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>


   
<body>
  <div class="image-column">
        <img src="https://as2.ftcdn.net/v2/jpg/03/45/40/27/1000_F_345402795_FJtzuVQXJCPwrehhshf9IeWfy7imQOGW.jpg" alt="Login Image">
        <div class="overlay-text">
            <h1>Syst</h1>
        </div>
    </div>
    <div class="form-column">
      <form class="row g-3 needs-validation" method="POST" novalidate>
        {{form.hidden_tag()}} 
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger mb-3" role="alert">
                {{ message }} 
            </div>
            
            {% endfor %}
        {% endif %}
      {% endwith %}
            <h2>Log in to Syst</h2>
            <div class="form-group">
                <label for="username" class="text-muted">Username</label>
                <input type="text" id="username" name="email" required>
            </div>
            <div class="form-group">
                <label for="password" class="text-muted">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
           
            <button type="submit" class="login">Login</button>
       
          </form>
    </div>
    
</body>
</html>

