  
      {% extends 'gvs/dashlayout.html' %}

      {% block body %}
      {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
        
      {% endfor %}
    {% endif %}
    {% endwith %}
      <section class="section dashboard">
        <div class="row">
  
          <!-- Left side columns -->
          <div class="card col-lg-12">
           
            

                      <form action="" id="packageForm" method="post" role="form" class=" py-5 " style="  border-radius: 10px; "> 
                        <h6 class="text-center fs-3"><b>Get Weight(Ibs) for each Item</b></h6>   
                              <div class="mb-2 w-100">
                              <input class="form-control email-input" type="number" id="weight" name="weight" step="0.01" required class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Eg. 2" />
                              </div>
                             
                              <div class="d-grid">
                                <button class="btn btn-lg btn-primary " type="submit">Calculate Charges</button></div>
                              </div>
                            </div>
                            <p class="fs-20  text-center text-dark fw-normal"> **Rates are strictly for shipping to Guyana. When invoices are generated, taxes and additional charges are added together as 'local charges'. Estimates of local taxes can be seen here.</p>

                            <div class="">
                              <div class="sent-message bg-danger p-5 mb-4 text-center text-white fs-5 " id="result">Shipping Charges: $0</div>
                            </div>
                
                            <!--<div id="result"></div>-->
                        </form> 
                 
                      </div>
                    </div>
                  </div>
                  </section>


              
                           
        {%endblock body%}
