{% extends 'gvs/dashlayout.html' %}

{% block body %}




<div class="card">
    <div class="card-body">
      <h5 class="card-title">Make An Order</h5>

      <!-- Multi Columns Form -->
      <form class="row g-3" method="POST" action="/add_item" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="col-md-12">
          <label for="inputName5" class="form-label">Choose Category</label>
        {{ form.group(type="text", class="form-control", id="inputName5") }}
        </div>


        <div class="col-md-6">
          <label for="inputEmail5" class="form-label">Shipping Type</label>
          {{ form.item_name(class="form-control", id="inputEmail5") }}
        </div>


        <div class="col-md-6">
          <label for="inputPassword5" class="form-label">Date Shipped</label>
          <input class="form-control" id="inputPassword5" placeholder="date">
        </div>
        
        <div class="col-12">
          <label for="inputAddress5" class="form-label">Enter 4 Unique_Code</label>
        {{ form.quantity(class="form-control", id="inputAddres5s",type=number, placeholder="Shipping Code") }}
        </div>


        <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 1</label>
        {{ form.price( type="text", class="form-control", id="inputAddress2", placeholder="Apartment, studio, or floor") }}
        </div>

        <div class="col-12">
            <label for="inputAddress2" class="form-label">Address 2</label>
        {{ form.tag( type="text", class="form-control", id="inputAddress2", placeholder="Apartment, studio, or floor") }}          </div>



       <!-- <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>-->
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>

        <div class="text-center">
        {{ form.submit(class="btn btn-primary") }}

          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </form><!-- End Multi Columns Form -->

    </div>
  </div>
  



</div>
</div>


{%endblock body%}
