{% extends 'gvs/dashlayout.html' %}

{% block body %}




<div class="card">
    <div class="card-body">
      <h5 class="card-title">Choose from your Category </h5>

      <!-- Multi Columns Form -->
      <form class="row g-3" method="POST" action="/add_item" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="col-md-12">
          <label for="inputName5" class="form-label">Online Category</label>
        {{ form.group(type="text", class="form-control", id="inputName5") }}
        </div>

        <h5 class="card-title">Kindly Fill Below Information</h5>
        <div class="col-lg-6">
          <label class="form-label">Receiver's Name</label>
          {{ form.name(class="form-control", id="inputEmail5", placeholder="Enter Name") }}
        </div>


        <div class="col-lg-6">
          <label  class="form-label">Date to be shipped</label>
          {{ form.start_date(class="form-control", id="inputEmail5") }}
        </div>

        <div class="col-md-6">
          <label for="inputEmail5" class="form-label">Country From -</label>
          {{ form.country(class="form-control", id="inputEmail5", placeholder="Enter Name") }}
        </div>


        <div class="col-md-6">
          <label for="inputPassword5" class="form-label">Country To -</label>
          {{ form.nation(class="form-control", id="inputEmail5") }}
        </div>

        <div class="col-8">
          <label for="inputAddress2" class="form-label">Phone Number</label>
      {{ form.tag( type="number", class="form-control", id="inputAddress2", placeholder="Enter Phone Number") }}          </div>
    
      <div class="col-4">
        <label for="inputAddress2" class="form-label">Enter Quantity</label>
    {{ form.unit( type="number", class="form-control", id="inputAddress2", placeholder="Unit Amount") }}          </div>
  
      
    {{form.items_rates()}}

        <div class="col-12">
          <label for="inputAddress2" class="form-label">Address</label>
        {{ form.address( type="text", class="form-control", id="inputAddress2", placeholder="Apartment, studio, or floor") }}
        </div>

       
  
        <div class="col-12">
          <label for="inputAddress5" class="form-label">Enter 4 Unique_Code</label>
        {{ form.quantity(class="form-control", id="inputAddres5s",type=number, placeholder="Enter 4 digit code") }}
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              I Agree to the <a href="#" >Terms and Conditions</a>
            </label>
          </div>
        </div>

        <div class="text-center">
        {{ form.submit(class="btn btn-primary") }}

          <button type="reset" class="btn btn-secondary">Clear</button>
        </div>
      </form><!-- End Multi Columns Form -->

    </div>
  </div>
  



</div>
</div>


{%endblock body%}
