{% extends 'gvs/dashlayout2.html' %}

{% block body %}
<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
      {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row g-6 mb-6">
      
        

      <div class="card shadow border-0 mb-7">
        <div class="card-header">
            <h5 class="mb-0">Indox</h5>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                   
                </thead>
                <tbody>



                    <tr>
                        <td>
                            <a class="text-heading font-semibold" href="#">
                                {{profile.name}}
                            </a>
                        </td>
                        <td>
                            {{profile.description}}
                        </td>
                        <td>
                            
                        </td>
                        <td>
                        </td>
                        <td>
                          
                        </td>
                       
                    </tr>
                   
                </tbody>
                
            </table>
            <div class="card-footer border-0 ">
                <span class="text-muted text-sm">Powered BY GVSGROUP</span>
            </div>
        </div>
       
    </div>
  
 
</div>


{%endblock body%}
