{% extends 'gvs/dashlayout.html' %}

{% block body %}
                

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Send Bulk Messages to Users </h5>

    <!-- Multi Columns Form -->
    <form class="row g-3" method="POST"  action="">
      {{ form.hidden_tag() }}

      <div class="col-md-12">
        <label for="inputName5" class="form-label">Title</label>
      {{ form.name(type="text", class="form-control", id="inputName5", placeholder="Enter Title") }}
      </div>

      <div class="col-lg-12">
        <label class="form-label">Message Body </label>
        {{ form.description(class="form-control", id="inputEmail5", placeholder="Enter Message Body") }}
      </div>

      <div class="text-center">
        {{ form.submit(class="btn btn-primary") }}

        </div>
    </form>
  </div>
</div>

{%endblock body%}
